name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.34-strict/stable
      juju-channel: 3.6/stable
      with-uv: true
      trivy-exit-code: 0
      # Use ubuntu-22.04 as workaround for snapd issues on 24.04
      runs-on: ubuntu-22.04
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
